@import "tachyons";


.balance-sheet {
    color: #7A8677;
    font-size: 12.0pt;
    font-family: Arial;
}

.balance-sheet-header > div{
    color: black;
    font-size: 18.0pt;
    font-weight: 700;
    font-family: Arial;
}

.total-row {
    color: #91BD30;
    font-weight: 700;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: none;
    background: white;
}

.sub-group-row {
    font-weight: 700;
    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: none;
    background: white;
}

.monthly-amount {
    font-weight: 700;
}

.sub-total-amount {
    color: #EB6982;
    font-weight: 700;
    background: white;
}

.sub-total-row{
    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: none;
    background: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}

.modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.close {
    color: Black;
    float: right;
}

.close:hover {
    color: red;
    cursor: pointer;
}


.add {
    color: Black;
    float: right;
}

.add:hover {
    color: blue;
    cursor: pointer;
}

.green-app {
    color: #91BD30;
}

.border-green-app {
    border-color: #91BD30;
}

.red-app {
    color: #EB6982;
}

.border-red-app {
    border-color: #EB6982;
}

#currency {
    text-indent: 25%;
}
